@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-Regular.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/Assistant-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Assistant-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Assistant-bold';
    src: url('../fonts/Assistant-Bold.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/Assistant-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Assistant-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    font-family: 'Assistant', Fallback, sans-serif;
}

.page1 {
    background-image: linear-gradient(to bottom, rgba(3, 177, 254, 0.52) 0%, rgba(26, 100, 180, 0.52) 45%, rgba(50, 15, 112, 0.73) 100%), url('../img/Image\ 1.png');
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.page {
    background-image: url('../img/shade-btm.png');
    background-color: #f2f4f7;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.center-hor {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo {
    width: 90%;
    margin-top: 3em;
}

.logo-page {
    width: 60%;
    margin-top: 3em;
}

.top-page {
    width: 100%;
    margin-top: -20%;
}

.bottom-page {
    width: 100%;
}

#tab1 {
    border-radius: 30px;
    border: 2px solid purple;
    border-radius: 1px 1px 1px 1px;
}

#tab2 {
    border-radius: 30px;
    border: 2px solid purple;
    border-radius: 1px 1px 1px 1px;
}

.img {
    margin-bottom: 35px;
}

.page-button {
    width: 50%;
    margin-left: 25%;
    padding-top: 10px;
    margin-bottom: 16px;
    height: 50px;
    background: #A77FCB 0% 0% no-repeat padding-box;
    color: #5A4199;
    box-shadow: 0px 10px 30px #00000008;
    opacity: 1.4;
    border-radius: 30px;
    font-size: 19px;
}

.shade-btm {
    width: 100%;
}

.menu {
    text-align: center;
    color: white;
    font-size: 2em;
}

.main-menu {
    font-family: 'Assistant-bold', Fallback, sans-serif;
    text-align: center;
    color: #5A4199;
    font-size: 1.5em;
}

.page-content {
    font-family: 'Assistant', Fallback, sans-serif;
    text-align: center;
    color: #5A4199;
    font-size: 1.5em;
    text-align: center;
}

section {
    color: white;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.accordion-tabs {
    /* display: -webkit-box;
    display: flex; */
    background: transparent;
    border: 2px solid #584099;
    border-radius: 36px 35px;
    height: 47px;
}

.accordion-tabs .accordion-tab {
    background: transparent;
    padding: 0rem 1rem;
    font: inherit;
    flex: 1;
    border: none;
    cursor: pointer;
    height: 48px;
}

.accordion-tabs .accordion-tab:hover {
    background: transparent;
}

.accordion-tabs .accordion-tab:last-child {
    border-right: 0;
}

.accordion-tabs .accordion-tab.accordion-active {
    background: #584099;
    border: 2px solid #584099;
    border-radius: 36px 35px;
    text-align: center;
    color: #ffffff;
    border-top-width: 3px;
    padding-right: 30px;
    border-right-width: 17px;
    padding-left: 21px;
    /* opacity: 1; */
}

.accordion-item {
    padding: 2.4rem;
    display: none;
    border: none;
    background: transparent;
}

.accordion-item__label {
    box-sizing: content-box;
    position: fixed;
    top: 78%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style: hidden;
    background-color: transparent;
    background: transparent;
    color: #584099;
    height: 51px;
    width: 303px;
    font: inherit;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
}

 ::placeholder {
    color: #584099;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

.accordion-item.accordion-active {
    display: block;
}