@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-Regular.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/Assistant-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Assistant-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Assistant-bold';
    src: url('../fonts/Assistant-Bold.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/Assistant-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Assistant-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    font-family: 'Assistant', Fallback, sans-serif;

}
html{
  width: 100%;
  height: 100%;
}
.page1 {
    background-image: linear-gradient(to bottom, rgba(3, 177, 254, 0.52) 0%, rgba(26, 100, 180, 0.52) 45%, rgba(50, 15, 112, 0.73) 100%), url('../img/Image\ 1.png');
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.page {
    background-image: url('../img/shade-btm.png');
    background-color: #f2f4f7;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.center-hor {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo {
    width: 90%;
    margin-top: 3em;
}

.logo-page {
    width: 60%;
    margin-top: 3em;
}

.top-page {
    width: 100%;
    margin-top: -20%;
}

.bottom-page {
    width:100%;
}

.page-button {
    width: 50%;
    margin-left: 25%;
    padding-top: 10px;
    height: 50px;
    background: #A77FCB 0% 0% no-repeat padding-box;
    color: #5A4199;
    box-shadow: 0px 10px 30px #00000008;
    opacity: 1.4;
    border-radius: 30px;
}

.shade-btm {
    width: 100%;
}

.menu {
    text-align: center;
    color: white;
    font-size: 2em;
}

.main-menu {
    font-family: 'Assistant-bold', Fallback, sans-serif;
    text-align: center;
    color: #5A4199;
    font-size: 1.5em;
}

.page-content {
    font-family: 'Assistant', Fallback, sans-serif;
    text-align: center;
    color: #5A4199;
    font-size: 1.5em;

}

section {
    color: white;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.title1 {
    position: fixed;
    top: 22%;
    left: 52%;
    font-size: 18px;
    z-index: 1;
    color: white;
    opacity: 0.6;
  }
  .title2{
    position: fixed;
    top: 40%;
    left: 48%;
    font-size: 18px;
    z-index: 1;
    color: white;
    opacity: 0.6;
  }
  .title3{
    position: fixed;
    top: 58%;
    left: 46%;
    font-size: 18px;
    z-index: 1;
    color: white;
    opacity: 0.6;
  }
  .title4{
    position: fixed;
    top: 76%;
    left: 59%;
    font-size: 18px;
    z-index: 1;
    color: white;
    opacity: 0.6;
  }
  .type1{
    position: fixed;
    top: 24%;
    left: 28%;
    font-size: 30px;
    z-index: 1;
    color: white;

  }
  .type2{
    position: fixed;
    top: 42%;
    left: 55%;
    font-size: 30px;
    z-index: 1;
    color: white;
  }
  .type3{
    position: fixed;
    top: 61%;
    left: 65%;
    font-size: 30px;
    z-index: 1;
    color: white;
  }
  .type4{
    position: fixed;
    top: 80%;
    left: 50%;
    font-size: 30px;
    z-index: 1;
    color: white;
  }
  .button{
    width: 48%;
    height: 11%;
    background-color: #8B4DB8;
    position: absolute;
    font-size: 20px;
    color:white;
    top:98%;
    left:27%;
    box-sizing: border-box;
    border-radius: 40px;
  }
  .button p{
    margin-top: 13px;
  }
  .button:active{
    background-color: #C29CDE;
  }
  .update{
    position: absolute;
    font-size: 20px;
    color:#576169;
    top:108%;
    left:32%;
  }
  .update:active{
    color: #000000;
    font-weight: bold;
  }
/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.page1 {

}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {

}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
    #page2 .main-menu {
        font-family: 'Assistant-bold', Fallback, sans-serif;
        text-align: center;
        color: #5A4199;
    }
    #page2 .main-menu img{
        width: 20%;
    }
    #page2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    }



    }

}
.page9Title{
  margin-bottom: 10px;;
}
.image1{
  position: relative;
}
.image2{
  position: absolute;
  right: 36px;
  margin-right: 0px;
  margin-top: 18px;
}

.text{
  position:absolute;
  color: white;
  float:right;
  font-size: 18px;
}
